html{
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
    overflow-x: scroll;
}

body{
   background-color: #006AC6; 
   height: 100vh;
   width: 100vw;
   margin: 0;
   padding: 0;

   display: flex;
   flex-direction: column;
}

/*-------TOP-------*/

.top{
    height: 10vh;
    width: 100vw;
    margin: 0;
    padding-top: 12px;

    display: flex;
    align-items: center;
    position: fixed;
}

.title{
    color: white;
    font-size: 30px;
    margin: 0;
    padding: 0;

    position: absolute; 
    left: 4vw;
}

.search{
    border: 3px solid #b4b4b4;
    color:#b4b4b4;
    height: 40%;
    width: 25vw;
    margin: 0 auto;
    padding: 0 20px;

    border-radius: 30px;
}

.table{
    position: absolute;
    right: 4vw;
}

/*-------MAIN-------*/

.main{
    height: 100vh;
    width: 200vw;
    display: flex;
    flex-direction: row;
    align-items: center;

    overflow-x: auto;
    margin: 0;
    padding: 0;
}

.card{
    height: 60%;
    width: min(350px, 20%);
    border-radius: 60px;
    margin: 0 20px;
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.info{
    margin: 0;
}

/*-------PETS-------*/
.petsection{
    border-radius: 60px;
    height: 170px;
    width: 80%;
    margin-top: 5px;
    padding: 10px 30px;
    overflow-y: scroll;
    overflow-x: hidden;

    display: block;
    margin: auto;
}

.petsection::-webkit-scrollbar{
    display: none;
}

.pet{
    border: 2px solid #b4b4b4;
    border-radius: 30px;
    height: 60px;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px auto;
}

.petdata{
    margin: 0 30px;
}

/*-------FOOTER-------*/

.footer{
    height: 10vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
 