html{
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
}

body{
   background-color: #006AC6; 
   height: 100vh;
   width: 100vw;
   margin: 0;
   padding: 0;

   display: flex;
   flex-direction: column;
}

/*-------TOP-------*/

.top{
    border: 2px solid red;
    height: 10vh;
    width: 100vw;
    margin: 0;
    padding-top: 12px;

    display: flex;
    align-items: center;
    position: fixed;
}

.title{
    color: white;
    font-size: 30px;
    margin: 0;
    padding: 0;

    position: absolute; 
    left: 4vw;
}

.search{
    border: 3px solid #b4b4b4;
    color:#b4b4b4;
    height: 40%;
    width: 25vw;
    margin: 0 auto;
    padding: 0 20px;

    display: block;
    border-radius: 30px;
}

.table{
    position: absolute;
    right: 5vw;
}

/*-------MAIN-------*/

.main{
    border: 2px solid yellow;
    height: 80vh;
    width: 200vw;
    display: flex;
    flex-direction: row;
    align-items: center;

    overflow-x: auto;
    margin: 0;
    padding: 0;
}

.card{
    border: 1px solid orange;
    height: 80%;
    width: 40%;
    border-radius: 60px;
    margin: 0 20px;
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/*-------FOOTER-------*/

.footer{
    border: 1px solid green;
    height: 5vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
 