html{
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    width: 100vw;
}

body{
   background-color: #006AC6; 
   height: 100vh;
   width: 100vw;
   margin: 0;
   padding: 0;

   display: flex;
   justify-content: center;
   align-items: center;
}

/*-------MAIN-------*/

.table{
    height: 80;
    width: 90vw;
    position: absolute;
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.card{
    border: 4px solid #b4b4b4;
    height: 30vh;
    background-color: white;
    border-radius: 30px;

    display: flex;
    flex-direction: column;
}

.top{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    height: 50%;
}

.photo{
    display: flex;
    justify-content: center;
}

.info{
    grid-column: 2 / 4;
}

/*-------PETS-------*/

.petsection{
    border-radius: 30px;
    height: 50%;
    width: 80%;
    padding: 10px 30px;
    overflow-y: scroll;
    overflow-x: hidden;

    display: block;
    margin: auto;
}

.petsection::-webkit-scrollbar{
    display: none;
}

.petdata{
    margin: 0 5px;
}

/*-------LINKS-------*/

a:link{
    color: white;
    text-decoration: none;
}

a:visited{
    color: white;
    text-decoration: none;
}

a:hover{
    color: #b4b4b4;
    text-decoration: none;
}
